* {
    margin: 0;
    padding: 0;
    font-family: 'Instagram', serif;
}

.content {
    max-width: 100vh;
    max-height: 100vw;
    background-color: #1c1e21;
    color: white;
    padding: 1%;
}

.content-info {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.info-pfp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* ? HOME */
.dom {
    margin: 8px 0px;
    padding: 12px;
    display: flex;
}

.home_img {
    width: 35px;
    height: 35px;
}
/* ? */
.search {
    margin: 8px 0px;
    padding: 12px;
    display: flex;
}

.search_img {
    width: 35px;
    height: 35px;
}

.nickname,
.follower-info,
.acc-descr {
    display: flex;
    padding: 10px;
}

.info-block p {
    padding: 5px 12px;
}

.highlights {
    display: flex;
    padding: 3%;
    align-items: center;
}

.highlights button img {
    width: 40px;
}

.highlight-item,
.highlight-button {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
}

.highlight-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.photos-buttons {
    display: flex;
    justify-content: center;
}

.photo-item {
    height: 250px;
    width: 250px;
    border: 3px solid white;
}

dialog {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 47%;
    top: 47%;
}
