* {
    margin: 0;
    padding: 0;
    font-family: 'Instagram', serif;
}

.content {
    width: 65%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.content-info {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.info-pfp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nickname,
.follower-info,
.acc-descr {
    display: flex;
    padding: 10px;
}

.info-block p {
    padding: 5px 12px;
}

.highlights {
    display: flex;
    padding: 3%;
    align-items: center;
}

.highlights button img {
    width: 40px;
}

.highlight-item,
.highlight-button {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
}

.highlight-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.photos-buttons {
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}

.photo-item {
    height: 250px;
    width: 250px;
    margin: 10px;
}

.photo-item img {
    width: 250px;
    height: 250px;
}

dialog {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 47%;
    top: 47%;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

#photo-add {
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    padding: 25px;
}
